<!-- Localization completed -->
<div class="width-1000 hwmdm-settings-page" ng-controller="SettingsTabController" ng-init="initCommonSettings()">
    <div class="hwmdm-page-toolbar">
        <div>
            <h3>Device list columns</h3>
            <p>Choose which columns appear in the Devices list for each role.</p>
        </div>
    </div>

    <div class='form-group'>
        <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
        <div ng-show='successMessage' class='success'><span>{{successMessage}}</span></div>
    </div>

    <div class="dtv-role-bar">
        <div class="dtv-role-picker">
            <label class='control-label' localized>form.settings.common.role</label>
            <select class='form-control' ng-disabled="loading"
                    ng-model='formData.userRoleId'
                    ng-change="userRoleChanged()"
                    ng-options="role.id as role.name for role in userRoles">
            </select>
        </div>
        <div class="dtv-role-count" ng-if="!loading">{{countVisibleColumns()}} columns visible</div>
    </div>

    <div class="dtv-group" ng-repeat="group in columnGroups" ng-if="groupHasVisibleColumns(group)">
        <div class="dtv-group-header">
            <h4>{{group.label}}</h4>
            <div class="dtv-group-actions">
                <button type="button" class="dtv-link-btn" ng-disabled="loading" ng-click="setGroupColumns(group, true)">Select all</button>
                <button type="button" class="dtv-link-btn" ng-disabled="loading" ng-click="setGroupColumns(group, false)">Clear</button>
            </div>
        </div>
        <div class="dtv-toggle-grid">
            <label class="dtv-toggle" ng-repeat="col in group.columns" ng-if="!col.customProperty || settings[col.customProperty]">
                <input type="checkbox" ng-model="userRoleSettings[col.model]" ng-disabled="loading"/>
                <span class="dtv-toggle-track"><span class="dtv-toggle-thumb"></span></span>
                <span class="dtv-toggle-label">{{columnLabel(col)}}</span>
            </label>
        </div>
    </div>

    <div class="dtv-save-bar">
        <button type='submit' class='btn btn-primary' ng-disabled="loading"
                ng-click='saveCommonSettings()' localized>button.save</button>
    </div>
</div>
