<!-- Localization completed -->
<div class="hwmdm-list-page" ng-controller="GroupsTabController">

    <div class="hwmdm-page-toolbar">
        <div>
            <h3 localized>nav.groups</h3>
            <p localized>groups.page.subtitle</p>
        </div>
        <div class="hwmdm-search-actions">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"
                        ng-class="{active: viewMode === 'cards'}"
                        localized-title="files.view.cards"
                        ng-click="viewMode = 'cards'">
                    <span class="glyphicon glyphicon-th-large"></span>
                    <span localized>files.view.cards</span>
                </button>
                <button type="button" class="btn btn-default"
                        ng-class="{active: viewMode === 'list'}"
                        localized-title="files.view.list"
                        ng-click="viewMode = 'list'">
                    <span class="glyphicon glyphicon-list"></span>
                    <span localized>files.view.list</span>
                </button>
            </div>
            <input type='text' ng-model='search.searchValue' ng-enter='search()'
                   ng-change="search()"
                   localized-placeholder='form.settings.groups.search.placeholder'
                   class='form-control'/>
            <button type='button' class='btn btn-primary' ng-click='editGroup( {} )'>
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<span localized>button.add</span>
            </button>
        </div>
    </div>

    <div class="text-center" ng-if="groups.length > paging.pageSize">
        <pagination
                boundary-links='true' class='pagination-sm'
                max-size='3'
                ng-model='paging.currentPage'
                total-items='groups.length'
                items-per-page='paging.pageSize'
                previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                last-text='&raquo;'></pagination>
    </div>

    <div ng-if='groups && groups.length > 0 && viewMode === "cards"' class="config-card-grid">
        <div class="config-card"
             ng-repeat="group in groups.slice(((paging.currentPage-1)*paging.pageSize), ((paging.currentPage)*paging.pageSize))">
            <div class="config-card-body" ng-click="editGroup(group)">
                <div class="config-card-name">{{group.name}}</div>
            </div>
            <div class="config-card-actions">
                <button type='button' class='btn btn-sm btn-default' localized-title="button.edit" ng-click='editGroup(group)'>
                    <span class='glyphicon glyphicon-pencil'></span>
                </button>
                <button type='button' class='btn btn-sm btn-default' localized-title="button.delete"
                        ng-disabled='group.id === 1'
                        ng-click='removeGroup(group)'>
                    <span class='glyphicon glyphicon-trash'></span>
                </button>
            </div>
        </div>
    </div>

    <div ng-if='groups && groups.length > 0 && viewMode === "list"' class="table-responsive">
        <table class='table'>
            <thead>
            <tr>
                <th localized>form.group.name</th>
                <th class='actions-column' localized>table.heading.configuration.actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='group in groups.slice(((paging.currentPage-1)*paging.pageSize), ((paging.currentPage)*paging.pageSize))'>
                <td><a class="action-link" ng-click="editGroup(group)">{{group.name}}</a></td>
                <td>
                    <div><nobr>
                        <button type='button' class='btn btn-default' localized-title="button.edit" ng-click='editGroup(group)'>
                            <span class='glyphicon glyphicon-pencil'></span>
                        </button>
                        <button type='button' class='btn btn-default' localized-title="button.delete"
                                ng-disabled='group.id === 1'
                                ng-click='removeGroup(group)'>
                            <span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </nobr></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-if='groups && groups.length === 0' class='hwmdm-empty-state'>
        <span class="glyphicon glyphicon-th-large"></span>
        <span localized>notfound.groups</span>
    </div>

    <div class="text-center" ng-if="groups.length > paging.pageSize">
        <pagination
                boundary-links='true' class='pagination-sm'
                max-size='3'
                ng-model='paging.currentPage'
                total-items='groups.length'
                items-per-page='paging.pageSize'
                previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                last-text='&raquo;'></pagination>
    </div>
</div>
