<!-- Localization completed -->
<div class="hwmdm-list-page" ng-controller="IconsTabController">

    <div class="hwmdm-page-toolbar">
        <div>
            <h3 localized>nav.icons</h3>
            <p localized>icons.page.subtitle</p>
        </div>
        <div class="hwmdm-search-actions">
            <input type='text' ng-model='search.searchValue' ng-enter='search()'
                   ng-change="search()"
                   localized-placeholder='form.settings.icons.search.placeholder'
                   class='form-control'/>
            <button type='button' class='btn btn-primary' ng-click='editIcon( {} )'>
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<span localized>button.add</span>
            </button>
        </div>
    </div>

    <div class="text-center" ng-if="icons.length > paging.pageSize">
        <pagination
                boundary-links='true' class='pagination-sm'
                max-size='3'
                ng-model='paging.currentPage'
                total-items='icons.length'
                items-per-page='paging.pageSize'
                previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                last-text='&raquo;'></pagination>
    </div>

    <div ng-if='icons && icons.length > 0' class="config-card-grid">
        <div class="config-card"
             ng-repeat="icon in icons.slice(((paging.currentPage-1)*paging.pageSize), ((paging.currentPage)*paging.pageSize))">
            <div class="config-card-body" ng-click="editIcon(icon)">
                <div class="config-card-name">{{icon.name}}</div>
                <div class="config-card-desc">{{icon.fileName}}</div>
            </div>
            <div class="config-card-actions">
                <button type='button' class='btn btn-sm btn-default' localized-title="button.edit" ng-click='editIcon(icon)'>
                    <span class='glyphicon glyphicon-pencil'></span>
                </button>
                <button type='button' class='btn btn-sm btn-default' localized-title="button.delete" ng-click='removeIcon(icon)'>
                    <span class='glyphicon glyphicon-trash'></span>
                </button>
            </div>
        </div>
    </div>

    <div ng-if='icons && icons.length === 0' class='hwmdm-empty-state'>
        <span class="glyphicon glyphicon-picture"></span>
        <span localized>notfound.icons</span>
    </div>

    <div class="text-center" ng-if="icons.length > paging.pageSize">
        <pagination
                boundary-links='true' class='pagination-sm'
                max-size='3'
                ng-model='paging.currentPage'
                total-items='icons.length'
                items-per-page='paging.pageSize'
                previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                last-text='&raquo;'></pagination>
    </div>
</div>
