<!-- Localization completed -->
<div class="hwmdm-page-toolbar">
    <div>
        <h3 localized>nav.roles</h3>
        <p localized>roles.page.subtitle</p>
    </div>
    <div class="hwmdm-search-actions">
        <button type='button' class='btn btn-default' ng-click='editRole( {} )' localized>button.add</button>
    </div>
</div>

<div class="hwmdm-split-layout">
    <div class="remote-device-panel">
        <div class="hwmdm-nav-heading" localized>roles.list.title</div>
        <a href="" class="list-group-item remote-device-item"
           ng-repeat="role in roles"
           ng-click="editRole(role)"
           ng-class="{'remote-device-item-active': selectedRoleId === role.id}">
            <div class="remote-device-item-head">
                <div>
                    <strong>{{role.name}}</strong>
                </div>
            </div>
        </a>
        <div ng-if='!roles || roles.length === 0' class="text-muted" style="padding:12px;text-align:center" localized>notfound.roles</div>
    </div>
    <div>
        <div ng-if='roles && roles.length > 0' class="table-responsive">
            <table class='table'>
                <thead>
                <tr>
                    <th localized>table.heading.role.name</th>
                    <th class='actions-column' localized>table.heading.role.actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='role in roles'>
                    <td>{{role.name}}</td>
                    <td>
                        <div>
                            <button type='button' class='btn btn-default' ng-click='editRole(role)'>
                                <span class='glyphicon glyphicon-pencil'></span>
                            </button>
                            <button type='button' class='btn btn-default' ng-click='removeRole(role)'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>