<div class="mdm-picker" ng-class="{'mdm-picker-disabled': desabilitado}">

    <div class="mdm-picker-bar">
        <input type="text" class="form-control mdm-picker-busca"
               ng-model="busca" ng-disabled="desabilitado"
               placeholder="Buscar opcao... (ex.: wifi, camera, fabrica)"/>
        <span class="mdm-picker-contador">{{ totalSelecionado() }} selecionada(s)</span>
        <button type="button" class="btn btn-default btn-sm"
                ng-click="limparTudo()" ng-disabled="desabilitado">Limpar tudo</button>
    </div>

    <div class="mdm-picker-grupo" ng-repeat="grupo in gruposLista" ng-if="grupoTemVisivel(grupo)">

        <div class="mdm-picker-grupo-cab" ng-click="alternarGrupoRecolhido(grupo.nome)">
            <span class="mdm-picker-seta">{{ recolhido[grupo.nome] ? '&#9656;' : '&#9662;' }}</span>
            <strong>{{ grupo.nome }}</strong>
            <span class="mdm-picker-badge" ng-if="contarGrupo(grupo) > 0">{{ contarGrupo(grupo) }}</span>
            <span class="mdm-picker-acoes" ng-click="$event.stopPropagation()">
                <a href="" ng-click="marcarGrupo(grupo, true)" ng-if="!desabilitado">marcar todas</a>
                <a href="" ng-click="marcarGrupo(grupo, false)" ng-if="!desabilitado">nenhuma</a>
            </span>
        </div>

        <div class="mdm-picker-itens" ng-if="!recolhido[grupo.nome]">
            <label class="mdm-picker-item"
                   ng-repeat="item in grupo.itens"
                   ng-if="visivel(item)"
                   ng-class="{'mdm-item-on': selecionadas[item.key],
                              'mdm-item-danger': item.risk === 'danger',
                              'mdm-item-warn': item.risk === 'warn'}">
                <input type="checkbox"
                       ng-checked="selecionadas[item.key]"
                       ng-disabled="desabilitado"
                       ng-click="alternar(item)"/>
                <span class="mdm-item-texto">
                    <span class="mdm-item-label">{{ item.label }}</span>
                    <code class="mdm-item-key">{{ item.key }}</code>
                    <span class="mdm-item-help" ng-if="item.help">{{ item.help }}</span>
                    <span class="mdm-item-tag" ng-if="item.lockTask">so vale com kiosk ligado</span>
                </span>
            </label>
        </div>
    </div>

    <div class="mdm-picker-grupo" ng-if="extras.length">
        <div class="mdm-picker-grupo-cab"><strong>Personalizadas</strong>
            <span class="mdm-picker-nota">chaves gravadas neste perfil que nao constam do catalogo</span>
        </div>
        <div class="mdm-picker-itens">
            <label class="mdm-picker-item" ng-repeat="chave in extras"
                   ng-class="{'mdm-item-on': selecionadas[chave]}">
                <input type="checkbox" ng-checked="selecionadas[chave]"
                       ng-disabled="desabilitado" ng-click="alternar({key: chave})"/>
                <span class="mdm-item-texto">
                    <code class="mdm-item-key">{{ chave }}</code>
                    <a href="" class="mdm-item-remover"
                       ng-click="$event.preventDefault(); removerPersonalizada(chave)">remover</a>
                </span>
            </label>
        </div>
    </div>

    <div class="mdm-picker-add" ng-if="!desabilitado">
        <input type="text" class="form-control" ng-model="novaChave"
               placeholder="Adicionar chave manualmente (so se souber o que esta fazendo)"/>
        <button type="button" class="btn btn-default btn-sm"
                ng-click="adicionarPersonalizada()">Adicionar</button>
    </div>
</div>
