<!-- Localization completed -->
<div ng-controller="FilesTabController" class="hwmdm-list-page">
    <div class="hwmdm-page-toolbar">
        <div>
            <h3 localized>tab.files</h3>
            <p localized>files.page.subtitle</p>
        </div>
        <div class="hwmdm-search-actions">
            <input type='text'
                   ng-enter='search()'
                   ng-model='search.searchValue'
                   ng-change="search()"
                   localized-placeholder='search.placeholder.file'
                   class='form-control'>
            <button ng-if="hasPermission('edit_files')" type='button' class='btn btn-primary' ng-click='editFile({})'>
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<span localized>button.add</span>
            </button>
        </div>
    </div>

    <div ng-if="availableSpace" class="field-hint">{{availableSpace}}</div>

    <div class="text-center" ng-if="files.length > paging.pageSize">
        <pagination
                boundary-links='true' class='pagination-sm'
                max-size='3'
                ng-model='paging.currentPage'
                total-items='files.length'
                items-per-page='paging.pageSize'
                previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                last-text='&raquo;'></pagination>
    </div>

    <div ng-if='files && files.length > 0' class="config-card-grid">
        <div class="config-card"
             ng-repeat="file in files.slice(((paging.currentPage-1)*paging.pageSize), ((paging.currentPage)*paging.pageSize))">
            <div class="config-card-body" ng-click="editFile(file)">
                <div class="config-card-name">{{file.description || file.filePath}}</div>
                <div class="config-card-desc" ng-if="file.description">{{file.filePath}}</div>
                <div class="app-card-meta">
                    <span ng-if="!file.external && file.size > 0" class="app-card-version">{{readableSizeMb(file.size)}}</span>
                    <span ng-if="file.external" class="app-card-badge app-card-badge--web">EXTERNO</span>
                    <span ng-if="file.replaceVariables" class="app-card-badge">VAR</span>
                    <span ng-if="file.devicePath" class="config-card-desc" style="font-size:11px">{{file.devicePath}}</span>
                </div>
                <div class="config-card-desc" ng-if="!file.external && file.uploadTime" style="margin-top:4px;font-size:11px">
                    {{file.uploadTime | date:updateTimeFormat}}
                </div>
            </div>
            <div class="config-card-actions">
                <button type='button' title="{{file.copyLinkTooltip}}"
                        class='btn btn-sm btn-default' ng-click='copyLink(file)'>
                    <span class='glyphicon glyphicon-link'></span>
                </button>
                <button type='button' localized-title="button.set.configurations"
                        class='btn btn-sm btn-default' ng-click='editConfiguration(file)'>
                    <span class='glyphicon glyphicon-list'></span>
                </button>
                <button ng-if="hasPermission('edit_files')"
                        ng-disabled="file.size == -1"
                        localized-title="button.edit"
                        type='button' class='btn btn-sm btn-default' ng-click='editFile(file)'>
                    <span class='glyphicon glyphicon-pencil'></span>
                </button>
                <button type='button' ng-if="hasPermission('edit_files') && !file.removalDisabled" localized-title="button.delete"
                        class='btn btn-sm btn-default' ng-click='removeFile(file)'>
                    <span class='glyphicon glyphicon-trash'></span>
                </button>
                <button type='button' ng-if="hasPermission('edit_files') && file.removalDisabled"
                        disabled="disabled"
                        title="{{file.removeButtonTooltip}}"
                        class='btn btn-sm btn-default'>
                    <span class='glyphicon glyphicon-trash'></span>
                </button>
            </div>
        </div>
    </div>

    <div ng-if='files && files.length == 0' class='hwmdm-empty-state'>
        <span class="glyphicon glyphicon-file"></span>
        <span localized>notfound.files</span>
    </div>

    <div class="text-center" ng-if="files.length > paging.pageSize">
        <pagination
                boundary-links='true' class='pagination-sm'
                max-size='3'
                ng-model='paging.currentPage'
                total-items='files.length'
                items-per-page='paging.pageSize'
                previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;'
                last-text='&raquo;'></pagination>
    </div>
</div>
