<!-- Localization completed -->
<div ng-controller="GpsMapTabController" class="gps-map-page">
    <div class="hwmdm-page-toolbar">
        <div>
            <h3>Location map</h3>
            <p>Mapa em tempo real com ultima localizacao reportada por cada device.</p>
        </div>
        <div class="gps-page-actions hwmdm-search-actions">
            <select class="form-control"
                    ng-model="selectedGroupId" ng-change="onGroupChanged()"
                    ng-options="group.id as group.name for group in groups">
            </select>
            <select class="form-control gps-refresh-select"
                    ng-model="refreshIntervalMs" ng-change="onRefreshIntervalChanged()"
                    ng-options="option.value as option.label for option in refreshOptions">
            </select>
            <button type="button" class="btn btn-primary" ng-click="loadDevices(true)" ng-disabled="loading">
                <span class="glyphicon glyphicon-refresh" ng-class="{'glyphicon-spin': loading}"></span>&nbsp;<span>{{"button.refresh" | localize}}</span>
            </button>
            <button type="button" class="btn btn-default" ng-click="fitAll()" ng-disabled="!devices.length">
                <span class="glyphicon glyphicon-fullscreen"></span>&nbsp;<span>{{"gpsmap.fit.all" | localize}}</span>
            </button>
        </div>
    </div>

    <div class="error" ng-if="errorMessage">{{errorMessage}}</div>

    <div class="gps-layout">
        <div>
            <div class="gps-map-shell">
                <div id="gps-map" class="gps-map-canvas"></div>
                <div class="summary-empty-map" ng-if="mapReady && !devices.length">
                    <span>{{"gpsmap.empty" | localize}}</span>
                </div>
                <div class="summary-empty-map" ng-if="mapError">
                    <span>{{"gpsmap.error.render" | localize}}</span>
                </div>
            </div>
            <div class="text-muted margin-top">
                {{devices.length}} {{"gpsmap.devices.on.map" | localize}}
                <span ng-if="lastUpdated"> &middot; {{"gpsmap.updated.at" | localize}} {{lastUpdated | date:'HH:mm:ss'}}</span>
                <span ng-if="refreshIntervalMs"> &middot; {{"gpsmap.auto.refresh" | localize}} {{refreshIntervalMs / 1000}}s</span>
            </div>
        </div>

        <div class="gps-device-list">
            <div class="summary-empty-map" ng-if="!devices.length">{{"gpsmap.empty" | localize}}</div>
            <a href="" class="list-group-item gps-device-item" ng-repeat="device in devices" ng-click="selectDevice(device)"
               ng-class="{active: selectedDeviceId === device.id}">
                <strong>{{device.number}}</strong>
                <span class="pull-right text-muted">{{device.locationTs | date:'HH:mm:ss'}}</span>
                <br>
                <span class="text-muted">{{device.model || device.number}}</span>
                <br>
                <small class="text-muted">{{device.lat | number:6}}, {{device.lon | number:6}}</small>
            </a>
        </div>
    </div>
</div>
