<!-- Localization completed -->
<div class="login-page" ng-if="!isIE">
    <div class="login">
        <div class="login-logo" ng-if="rebranding"><img src="images/logo.png"><span class="logo">Headwind MDM</span></div>
        <div class="login-brand" ng-if="!rebranding">
            <span class="login-brand-mark">HW</span>
            <span class="login-brand-title">Headwind MDM</span>
        </div>

        <div class='panel panel-default' ng-class='{"panel-danger": errorMessage, "panel-success": successMessage}'>
            <div class='panel-heading' ng-if='errorMessage'>{{errorMessage}}</div>
            <div class='panel-heading' ng-if='successMessage'>{{successMessage}}</div>
            <div class='panel-body'>
                <form name='loginForm' ng-submit='onLogin()'>
                    <div class='form-group'>
                        <label for='username' localized>login.username</label>
                        <input type='text' class='form-control' id='username'
                               ng-model='login.username' localized-placeholder="login.username.placeholder"
                               required/>
                    </div>
                    <div class='form-group'>
                        <label for='password' localized>login.password</label>
                        <input type='password' class='form-control' id='password'
                               ng-model='login.password' localized-placeholder='login.password.placeholder'
                               required/>
                    </div>

                    <button type='submit' class='btn btn-primary'
                            ng-disabled='loginForm.$invalid' localized>login.submit</button>

                    <div class="login-links">
                        <div ng-if="canRecover"><a class="action-link" ng-click="recoverPassword()" localized>login.password.recovery</a></div>
                        <div ng-if="rebranding.signupLink"><span localized>login.no.account</span> <a class="action-link" href="{{rebranding.signupLink}}" localized>login.signup</a></div>
                        <div ng-if="!rebranding.signupLink && canSignup"><span localized>login.no.account</span> <a class="action-link" ng-click="signup()" localized>login.signup</a></div>
                    </div>
                </form>
            </div>
        </div>

        <div class="login-footer" ng-if="rebranding">
            <span>Headwind MDM - Headwind MDM</span>. (c) {{rebranding.year}}
        </div>
    </div>
</div>

<div class='content-wrapper width-1000' ng-if="isIE">
    <div localized>ie.browser.notice.1</div>
    <div ng-bind-html="ieBrowserNotice2"></div>
</div>
