<!-- Localization completed -->
<div class="hwmdm-list-page" ng-controller="RolesTabController">

    <div class="hwmdm-page-toolbar">
        <div>
            <h3 localized>nav.roles</h3>
            <p localized>roles.page.subtitle</p>
        </div>
        <div class="hwmdm-search-actions">
            <button type='button' class='btn btn-primary' ng-click='editRole( {} )'>
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<span localized>button.add</span>
            </button>
        </div>
    </div>

    <div ng-if='roles && roles.length > 0' class="config-card-grid">
        <div class="config-card" ng-repeat="role in roles">
            <div class="config-card-body" ng-click="editRole(role)">
                <div class="config-card-name">{{role.name}}</div>
            </div>
            <div class="config-card-actions">
                <button type='button' class='btn btn-sm btn-default' localized-title="button.edit" ng-click='editRole(role)'>
                    <span class='glyphicon glyphicon-pencil'></span>
                </button>
                <button type='button' class='btn btn-sm btn-default' localized-title="button.delete" ng-click='removeRole(role)'>
                    <span class='glyphicon glyphicon-trash'></span>
                </button>
            </div>
        </div>
    </div>

    <div ng-if='roles && roles.length === 0' class='hwmdm-empty-state'>
        <span class="glyphicon glyphicon-lock"></span>
        <span localized>notfound.roles</span>
    </div>
</div>
